---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <h1>Stocazzo</h1>
        <img
            src="https://cdn.discordapp.com/attachments/1307485109481373718/1454067932752773222/image.png?ex=694fbdca&is=694e6c4a&hm=ce54da7664c6bef1a826665eda532a0f94d3d75f98d5b0bba67fab2638fbec30&"
        />
    </body>
</html>
